* {
  max-width: 2870px;
  width: 100%;
  color: #082B48;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* img {
  width: 100%;
  height: auto;
}

* a {
  text-decoration: none;
  color: #082B48;
  cursor: pointer;
}

* a:hover {
  opacity: 0.7;
}

* ul {
  list-style: none;
}

* h1 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding: 64px 0 58px 0;
}

.container {
  max-width: 1960px;
  width: 85%;
  margin: auto;
  padding-bottom: 70px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}

#page-top a {
  background: #72C7CA;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

header {
  height: 70px;
  line-height: 135px;
  padding: 20px;
}

header a {
  font-weight: bold;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-left {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-nav-item {
  line-height: 36px;
  font-size: 15px;
}

.drawer-list {
  width: 100px;
  display: none;
  font-size: 15px;
  background-color: #ffffff;
}

.drawer-list-item {
  height: 40px;
  padding: 10px;
}

.top {
  height: 350px;
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
}

.top .top-title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding: 70px 0 30px 0;
}

.top .top-text {
  text-align: center;
}

.about {
  height: 535px;
  width: 100%;
}

.about .about-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about .about-left {
  padding-right: 30px;
}

.course {
  height: 420px;
  width: 100%;
  background-color: #e3fcf4;
}

.course .course-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.course .course-items li {
  width: 30%;
}

.contact p {
  text-align: center;
  margin-bottom: 20px;
}

.contact input[type="email"] {
  width: 600px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 20px;
}

.contact .btn {
  padding: 20px 60px;
  display: inline-block;
  background-color: #082B48;
  color: #fff;
  font-size: 24px;
  width: 300px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
}

.contact .btn-register {
  background-color: #ec6d64;
  display: block;
  margin: auto;
}

footer {
  height: 60px;
  background-color: #082B48;
}

footer .footer-container {
  width: 90%;
}

footer .footer-text {
  color: #fff;
  text-align: right;
  line-height: 3.7;
  font-weight: initial;
}

@media only screen and (max-width: 767px) {
  header {
    max-width: 767px;
    width: 100%;
    height: 100px;
    line-height: 135px;
    padding: 20px;
  }
  header a {
    font-weight: bold;
  }
  header .header-wrapper {
    display: block;
  }
  header .header-left {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-nav-item {
    line-height: 36px;
    font-size: 12px;
  }
  .top {
    height: 350px;
    background-image: url(../img/main-vsual-nontitle.png);
    background-size: cover;
    width: 100%;
  }
  .top .top-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 70px 0 30px 0;
  }
  .top .top-text {
    text-align: center;
    font-size: 12px;
  }
  .about {
    height: 535px;
    width: 100%;
  }
  .about .about-wrapper {
    margin: auto;
    display: block;
    width: 100%;
  }
  .about .about-left {
    text-align: center;
  }
  .about .about-right {
    font-size: 12px;
    padding: 30px 0;
  }
  .course {
    height: 100%;
    width: 100%;
    background-color: #e3fcf4;
  }
  .course .course-items {
    display: block;
  }
  .course .course-items li {
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .contact p {
    text-align: center;
    margin-bottom: 20px;
  }
  .contact input[type="email"] {
    width: 90%;
    border: 3px solid #d8d8d8;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 999px;
    margin-bottom: 20px;
  }
  .contact .btn {
    padding: 10px 30px;
    display: inline-block;
    background-color: #082B48;
    color: #fff;
    font-size: 16px;
    width: 90%;
    border: none;
    font-weight: bold;
    border-radius: 4px;
  }
  .contact .btn-register {
    background-color: #ec6d64;
    display: block;
    margin: auto;
  }
  footer {
    height: 40px;
    background-color: #082B48;
  }
  footer .footer-container {
    width: 90%;
  }
  footer .footer-text {
    color: #fff;
    text-align: center;
    line-height: 3.7;
    font-weight: initial;
    font-size: 12px;
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    color: #082B48;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  * img {
    width: 85%;
    height: auto;
  }
  * a {
    text-decoration: none;
    color: #082B48;
  }
  * a:hover {
    opacity: 0.7;
  }
  * ul {
    list-style: none;
  }
  * h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 30px 0 30px 0;
  }
  .container {
    width: 80%;
    margin: auto;
    padding-bottom: 70px;
  }
}
/*# sourceMappingURL=style.css.map */