/*================================================================
공통css
================================================================*/

* {
    max-width: 2870px;
    //width: 100%; 
    color: #082B48;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* img {
    width: 50%;
    height: auto;
}

* a {
    text-decoration: none;
    color: #082B48;
    cursor: pointer;
}

* a:hover {
    opacity: 0.7;
}

* ul {
    list-style: none;
}


/*================== container  ==================*/
.container {
    max-width: 1960px;
    width: 85%;
    height: 100%;
    margin: auto;
    padding-bottom: 70px;
}

/*================== header  ==================*/
header {
    height: auto;
    //line-height: 135px;

    .child {
        display: none;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 30px 0 30px 0;

    }

    //---------------검색창====================
    .searchArea {
        padding-top: 10px;
        width: auto;
        height: 50px;
        margin: auto;
        letter-spacing: 0.1em;
        font-weight: bold;
        line-height: 0;
    }

    /* --- 텍스트 입력란 --- */
    .searchArea .searchText {
        display: block;
        float: left;
        box-sizing: border-box;
        height: 50px;
        width: 400px;
        margin: 0;
        padding: 0 12px;
        border: 2px solid #d6d6d6;
        border-radius: 50px 0 0 50px;
        color: rgb(190, 190, 190);
        outline: 0;
        font-size: 12px;
    }

    /* --- 버튼 --- */
    .searchArea .searchButton {
        float: left;
        box-sizing: border-box;
        height: 50px;
        margin: 0;
        padding: 6px 10px;
        border: none;
        border-radius: 0 50px 50px 0;
        background: #d6d6d6;
        color: #fff;
        cursor: pointer;
        line-height: 12px;
        font-size: 12px;
    }

    /* --- 아이콘 --- */
    .searchArea .searchImg {
        display: inline-block;
        width: auto;
        height: 12px;
        margin: 0 3px 0 0;
        vertical-align: middle;
    }

    .searchArea .searchText::-ms-clear {
        display: none;
    }

    // ========= 로그인, 마이페이지 버튼 ===========
    .header-list-item {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;

        .icon {
            font-size: 20px;
            color: rgb(123, 206, 35);
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #e5e5e5;
            text-align: center;
            line-height: 50px;
        }

        li {
            margin-right: 25px;
        }
    }


    h1 {
        font-weight: bold;
        font-size: 60px;
    }
}

// ========= 한식~ 선택 ===========
.top {
    background: linear-gradient(to left, rgb(149, 246, 44), rgb(123, 206, 35));
    height: 70px;

    .top-list-item {
        text-align: center;
        padding-top: 18px;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: space-around;

        li:hover {
            opacity: 0.5;
            color: yellow;
        }
    }
}

// ========= 추천 메뉴, 랭킹 ===========

.main {
    background-color: #e5e5e5;
    padding-top: 60px;
    height: 550px;

    .main-item {
        display: flex;
        justify-content: space-around;
    }

    h2 {
        font-size: 20px;
    }

    .slide {
        padding-top: 30px;
    }

    .main-item-left {
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        width: 75%;
        margin-right: 30px;
        padding: 30px;

        img {
            padding: 10px;
        }
    }

    //===================랭킹===================
    .main-item-right {
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        padding: 30px;

        .rank-list {
            padding: 10px 0 10px 0;

            .rank-list-li {
                padding: 10px;

                img {
                    width: 60px;
                    height: 60px;
                }

                .rank-image-and-text {
                    height: 60px;

                    p {
                        line-height: 60px;
                    }

                    .rank1 {
                        color: gold;
                    }

                    .rank2 {
                        color: silver;
                    }

                    .rank3 {
                        color: brown;
                    }

                    img {
                        border-radius: 10px;
                    }

                    .recipe-name {
                        width: 50%;
                    }

                    display: flex;
                    justify-content: space-around;
                }
            }
        }

    }
}

//==========나의 게시물, 찜한 레시피 , 나의 댓글============
.myRecipe {
    padding: 30px;
    padding-top: 30px;

    h1 {
        font-size: 30px;
        color: #acacac;

        .fa-heart {
            color: #acacac;
        }
    }

    ul {
        padding-top: 30px;

        li {
            padding: 20px;
            display: flex;

            .myRecipi-list-item {
                margin-left: 20px;
                font-weight: bold;
            }

            h2 {
                font-size: 20px;
                :hover {
                    opacity: 0.5;
                }
            }
            .recipeName:hover {
                opacity: 0.5;
            }

            p {
                color: #acacac;
            }

            img {
                width: 100px;
                height: 100px;
            }

            a:hover {
                background-color: #acacac;
                opacity: 0.5;
            }
        }
        
        .recipeComment {
            color: #000;
        }
    }
}



// ========= footer ===========
footer {
    text-align: center;
    height: 40px;

    p {
        text-align: center;
        color: #acacac;
        font-size: 15px;
        line-height: 40px;
    }

}